 <div class="row">
  <div class="col-md-3 col-md-offset-4">
    <div style="margin-bottom: 30px; margin-top: 10px; text-align: center;">
    <%= image_tag "http://cesgroup.ca/img/CESGroup-Logo.png" %>
    </div>
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Update Tool</h3>
  </div>
  
<%= render 'form' %>


